<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>Hương Lan</string>
            <key>measure</key>
            <string>90-52-85</string>
            <key>photo</key>
            <string>huonglan</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Mỹ Linh</string>
            <key>measure</key>
            <string>92-55-90</string>
            <key>photo</key>
            <string>mylinh</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Phong Lan</string>
            <key>measure</key>
            <string>91-53-89</string>
            <key>photo</key>
            <string>phonglan</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Mai Anh</string>
            <key>measure</key>
            <string>100-60-98</string>
            <key>photo</key>
            <string>maianh</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Mai Trang</string>
            <key>measure</key>
            <string>89-50-92</string>
            <key>photo</key>
            <string>maitrang</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Phương Nhung</string>
            <key>measure</key>
            <string>100-55-95</string>
            <key>photo</key>
            <string>phuongnhung</string>
        </dict>
        <dict>
            <key>name</key>
            <string>Hương Nhi</string>
            <key>measure</key>
            <string>98-55-97</string>
            <key>photo</key>
            <string>huongnhi</string>
        </dict>
    </array></plist>
